/* 모달창 css */

.modal-wrap {
  top: 32%;
}

#modal-wrap2 {
  width: 150%;
}

.modal {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0);
}

.modal-dialog {
  /* border: 2px solid #ffffff;
  border-radius: 10px; */
}

.modal-content {
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  color: #007bff;
}

.modal-body {
  font-size: 18px;
}

.modal-footer {
  background-color: #f0f0f0;
}
